body {
    background-color: #f0f8ff;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1 {
    font-size: 50px;
    font-weight: bold;
}

#value {
    display: block;
    padding: 30px;
    font-size: 100px;
}

.btn {
    background-color: #f0f8ff;
    border: 2px solid;
    border-color: black;
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    letter-spacing: 5px;
}